
html, body { height: 100%; margin: 0; }
.bg {
  position: relative;
  height: 94vh;
  width: 100%;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4rem;
  font-family: 'Playfair Display', serif;
}

.pw {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
}

.menu-container {
  display: flex;
  width: 100%;
}

.menu{
    flex: 1;
    margin: 0;
    height: 6vh;
    border: none;
    font-size: 1rem;
    background-color: #a0c9d0;
    color: #4a2f28;
    font-family: 'Playfair Display', serif;
    transition: all 1s;
}

.menu:hover{
    cursor: pointer;
    background-color: #fbfeff;

}

.about-me {
  display: flex;
  align-items: center;
  height: 80vh;
  background-color: #fdf8f4;
  color: #6e4b43;
  font-family: 'Playfair Display', serif;
}

.about-image {
  flex: 0 0 36%;
  height: 80vh;
  overflow: hidden;
  
}

.about-image img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;   
  object-position: 90% 20%;
}

.about-text {
  flex: 1;
  padding: 4rem;
}
.about-text h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}
.about-text p {
  max-width: 450px;
  line-height: 1.6;
  font-size: 1rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.about-text .buttons {
  display: flex;
  gap: 1rem;
}
.about-text button {
  margin-left: 2rem;
  background: #e6b6a6;
  border: 1px solid #a8827a;
  border-radius: 5px;
  color: #4a2f28;
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  cursor: pointer;
  transition: background 0.2s ease;
}
.about-text button:hover {
  background: #d9a898;
}
* { box-sizing: border-box; }
button { font: inherit; }

.layout {
  display: grid;
  grid-template-columns: 280px 1fr;
  min-height: 100vh;
}

.sidebar {
  background: #7da2bb; color: #fff;
  padding: 250px 24px;

  display: flex; flex-direction: column; gap: 1rem;
  
}
.sidebar h1 { 
  margin: 0 0 .5rem; font-size: 1.8rem; 
}
.sidebar p { 
  margin: 0 0 .75rem; opacity: .95; 
}
.browse { 
  font-family: 'Playfair Display', serif;
  background:#ffffff; 
  color:#7da2bb; 
  border: solid 1px;
  border-color: #7da2bb;
  border-radius:6px; 
  padding:12px 18px; 
  font-weight:700; 
  transition: 0.2s;
}

.browse:hover {
  background:#7da2bb; 
  color:#fff; 
  border-color: #fff;
}

.gallery {
  display: grid;
  background-color: rgb(10, 66, 69);
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  border: none;
  padding: 0;
  margin: 0;
}

.gal{
  cursor: pointer;
  overflow: hidden;
  border: none;
  padding: 0;
  gap: 0;
  margin: 0;
  transition: all 0.3s;
  aspect-ratio: 386/406;
}

.gal img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative; 
}

.gal:hover{
  opacity: 70%;
}

.playlist{
  background-color: #677B63;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding-top: 2rem;

}
.play{
  margin-top: 20px;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  font-family: 'Playfair Display', serif;
}

.spinny {
  
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  animation: spin 2s linear infinite;
}

.spinny img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

.spinny:hover {
  animation-play-state: paused;
}